<div class="row">
    <div class="col-md-12">
        <h2>Create New Post</h2>

        <form class="form new-post-form">
            <div class="form-group">
                <label for="title">Title</label>
                <input class="form-input" type="text" name="post-title"/>
            </div>
            <div class="form-group">
                <label for="Content">Content</label>
                <textarea class="form-input" name="post-content"></textarea>
            </div>
            <div class="form-group">
                <button class="btn btn-primary" type="submit">Create</button>
            </div>
        </form>
    </div>
</div>

<script src="/javascript/new.js"></script>